mixin genericHeadLoad
  link(rel="icon" href="./assets/images/circleProfile.png")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
  link(href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet")
  link(rel="stylesheet", href="./assets/css/style.css")