include ./mixins/_index.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Torrigoyd Magic
    +genericHeadLoad
  +pageWrapper
    //- +hero({
    //-   header:'Torrigoyd Magic WIP',
    //-   pageLinks:[
    //-     {href:'./faq.html',text:'FAQ'}
    //-   ],
    //-   anchorLinks:[
    //-     {href:'about',text:'about'}
    //-   ]
    //- })
    div(onclick="halfmoon.toggleSidebar()").sidebar-overlay
    .navbar
      .navbar-content
        button#toggle-sidebar-btn.btn.btn-action.material-icons(type='button' onclick='halfmoon.toggleSidebar()') menu
      .navbar-content.d-flex.gap-10.align-items-end
        span.align-self-start.font-size-24.m-0#active-campaign
        nav(aria-label="Location breadcrumb")
          ul.breadcrumb#location-breadcrumb
    .sidebar
      .sidebar-menu
        .sidebar-content
          form#campaign-settings
            fieldset(disabled).form-group
              label(for='campaign-name') Campaign
              select(class="form-control" id="campaign-name")
            fieldset(disabled).form-group
              label(for="location") Location
              input(type="text" id="location-search" autocomplete="off").form-control
              ul#location-suggestions.d-flex.flex-column.gap-5.py-10
          button(data-target="shops=").btn.form-control View Local Shops
    main#main-page.content-wrapper
  include ./templates/_index.pug
  +genericScripts