// Component templates
include ./_noShops.pug
include ./_itemSearch.pug
include ./_itemRow.pug
include ./_shopContainer.pug
include ./_locationSuggestion.pug
include ./_breadcrumbItem.pug
include ./_shopButton.pug
include ./_shopList.pug
include ./_shopDetail.pug
// End Component templates